services:
  mysql:
    image: mysql:9.1.0
    restart: always
    container_name: mysql-project-app
    env_file: ./.env
    environment:
       MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
       MYSQL_DATABASE: ${DB_DATABASE_NAME}
       MYSQL_USER: ${DB_USER}
       MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - dbdata_project:/var/lib/mysql
    ports: ['${DB_PORT_LOCAL}:${DB_PORT_DOCKER}']
  backend:
    depends_on:
      - mysql
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: meu-projeto/web:1.0
    env_file: ./.env
    restart: always
    ports: ['${BACKEND_PORT_LOCAL}:${BACKEND_PORT_DOCKER}']
    environment:
       SPRING_DATASOURCE_URL: jdbc:mysql://mysql:${DB_PORT_DOCKER}/${DB_DATABASE_NAME}
       SPRING_DATASOURCE_USERNAME: ${DB_USER}
       SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
       SPRING_SERVER_PORT: ${BACKEND_PORT_LOCAL}
       SYS_USER: ${SYS_USER}
       SYS_PASSWD: ${SYS_PASSWD}
       SYS_ADM_USER: ${SYS_ADM_USER}
       SYS_ADM_PASSWD: ${SYS_ADM_PASSWD}
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: project/frontend:1.0
    container_name: frontend-app
    ports: ['${FRONTEND_PORT_LOCAL}:${FRONTEND_PORT_DOCKER}']
    volumes:
      - ./frontend:/app
      - /app/node_modules
    working_dir: /app
    command: ["npm", "run", "dev"]
    depends_on:
      - backend
volumes:
  dbdata_project: